/* Element selector */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #cd9797;
  color: rgb(151, 52, 52);
}

body {
  font-family: Arial;
  color: black;
  background: #fff2f2;
}

header h1 {
  color: #0a968a;
}

.highlight {
  color: rgb(14, 213, 14);
}

#special {
  color: rgb(135, 35, 35);
}

nav a {
  color: blue;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

footer {
  background: #ad5151;
  color: white;
  text-align: center;
  padding: 10px;
}
