/* Element selector */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #f2f2f2;
  color: black;
}

body {
  font-family: Arial;
  color: black;
  background: #f2f2f2;
}

header h1 {
  color: #1bd1c2;
}

.highlight {
  color: green;
}

#special {
  color: red;
}

nav a {
  color: blue;
  text-decoration: none;
}

nav a:hover {
  color: orange;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
