body{
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&display=swap');

  color: rgb(0, 0, 0);
  background: #EDF7F2;

font font-family:'Smooch Sans',sans-serif;}

header {
    background-color: #2a6f97;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #ffd166; 
}

nav a:visited {
    color: #ccc;
}


main {
    padding: 20px;
}


.highlight {
    color: #0077b6; 
    font-weight: bold;
}

/* De-emphasize */
.muted {
    color: #888;
}


.answers {
    margin-top: 20px;
}


footer {
    background-color: #2a6f97;
    color: white;
    text-align: center;
    padding: 10px;
}


#top {
    scroll-behavior: smooth;
}